.AuthorPage {
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
}

.AuthorPage #SearchSection {
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.AuthorPage #SearchSection #SearchBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  background: #fff;
  border-radius: 36px;
  max-width: 60%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.AuthorPage #SearchSection #SearchBox #SearchText {
  width: 86%;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  margin: 0;
}

.AuthorPage #SearchSection #SearchBox #Search {
  -webkit-box-shadow: 0 0 1rem #909;
          box-shadow: 0 0 1rem #909;
  color: #909;
  border-radius: 100%;
  padding: 0.3rem;
}

.AuthorPage #SearchSection #SearchBox #Search:hover {
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.AuthorPage #SearchSection #SignOut {
  padding: 0.5rem;
  color: #fff;
  background: #909090;
  cursor: pointer;
  font-weight: bold;
  border: none;
  outline: none;
  font-size: 1.2rem;
  -webkit-box-shadow: 0 0 0.5rem #fff inset, 0 0 1rem #909090;
          box-shadow: 0 0 0.5rem #fff inset, 0 0 1rem #909090;
  border-radius: 6px;
}

.AuthorPage #SearchSection button:hover {
  background: #908090;
}

.AuthorPage .NotSignedIn {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  max-width: 90%;
}

.AuthorPage .NotSignedIn h1 {
  margin: auto;
}

.AuthorPage .NotSignedIn h3 {
  margin: 1rem auto;
}

.AuthorPage .NotSignedIn .SignInBtn {
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  font-weight: bold;
  font-size: 1.1rem;
  margin: 1rem auto;
  padding: 1em 3em;
  margin-top: 3em;
  -webkit-box-shadow: 0 0 1em #fff inset;
          box-shadow: 0 0 1em #fff inset;
}

.AuthorPage .NotSignedIn .SignInBtn:hover, .AuthorPage .NotSignedIn .SignInBtn:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0 0 1em #fff;
          box-shadow: 0 0 1em #fff;
}

.AuthorPage .EditorSection {
  margin: 1em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.AuthorPage .EditorSection .SearchedBlogControl .HideSearchedBlog {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  overflow: hidden;
  height: 0;
  width: 0;
}

.AuthorPage .EditorSection .SearchedBlogControl .SearchedBlog {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  margin: 1rem auto;
  width: 90%;
  -webkit-box-shadow: 0 0 1rem #fff;
          box-shadow: 0 0 1rem #fff;
  padding: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.AuthorPage .EditorSection .SearchedBlogControl .SearchedBlog #SearchedBlogTitle {
  margin-left: 1rem;
  font-size: 1.4rem;
  max-width: 60%;
}

.AuthorPage .EditorSection .SearchedBlogControl .SearchedBlog #SearchedBlogAction {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.AuthorPage .EditorSection .SearchedBlogControl .SearchedBlog #SearchedBlogAction .SearchedBlogActionBtn {
  margin: 0 0.5rem;
  -webkit-box-shadow: 0 0 1rem #fff, 0 0 1rem #fff inset;
          box-shadow: 0 0 1rem #fff, 0 0 1rem #fff inset;
  color: #909;
}

.AuthorPage .EditorSection .SearchedBlogControl .Hide {
  display: none;
}

.AuthorPage .EditorSection .SearchedBlogControl .Alert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 25%;
  left: 15%;
  right: 15%;
  bottom: 25%;
  background: #909090;
  -webkit-box-shadow: 0 0 1rem #fff inset, 0 0 1rem #fff;
          box-shadow: 0 0 1rem #fff inset, 0 0 1rem #fff;
  border-top-right-radius: 24px;
  border-bottom-left-radius: 24px;
}

.AuthorPage .EditorSection .SearchedBlogControl .Alert .closeAlert {
  margin: 4px;
  margin-left: auto;
  border-radius: 100%;
  -webkit-box-shadow: 0 0 1rem #fff, 0 0 1rem #fff inset;
          box-shadow: 0 0 1rem #fff, 0 0 1rem #fff inset;
  color: #909;
  padding: 0.3rem;
}

.AuthorPage .EditorSection .SearchedBlogControl .Alert .warning {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 0.5rem;
}

.AuthorPage .EditorSection .SearchedBlogControl .Alert .warning #alertIcon {
  margin: auto;
}

.AuthorPage .EditorSection .SearchedBlogControl .Alert .warning .warningText {
  text-align: center;
  font-size: 1.7rem;
  font-weight: bold;
  color: #909;
}

.AuthorPage .EditorSection .SearchedBlogControl .Alert .warning .warningConfirmBtns {
  margin: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.AuthorPage .EditorSection .SearchedBlogControl .Alert .warning .warningConfirmBtns button {
  padding: 1rem;
  font-size: 1.4rem;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
}

.AuthorPage .EditorSection .SearchedBlogControl .Alert .warning .warningConfirmBtns .Yes {
  background: red;
  color: lightblue;
  -webkit-box-shadow: 0 0 0.5rem lightblue;
          box-shadow: 0 0 0.5rem lightblue;
}

.AuthorPage .EditorSection .SearchedBlogControl .Alert .warning .warningConfirmBtns .No {
  background: lightblue;
  color: red;
  -webkit-box-shadow: 0 0 0.5rem lightblue;
          box-shadow: 0 0 0.5rem lightblue;
}

.AuthorPage .EditorSection .SearchedBlogControl .Alert .workDone {
  margin: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.AuthorPage .EditorSection .SearchedBlogControl .Alert .workDone .workDoneLabel {
  font-size: 2rem;
  color: greenyellow;
  font-weight: bold;
}

.AuthorPage .EditorSection #CreateNewSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.AuthorPage .EditorSection #CreateNewSection #CreateBtnArea {
  -webkit-box-shadow: 0 0 1rem #fff inset;
          box-shadow: 0 0 1rem #fff inset;
  padding: 0.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.AuthorPage .EditorSection #CreateNewSection #CreateBtnArea .CreateToggler {
  color: #909;
  -webkit-box-shadow: 0 0 1rem #fff inset, 0 0 1rem #fff;
          box-shadow: 0 0 1rem #fff inset, 0 0 1rem #fff;
}

.AuthorPage .EditorSection #CreateNewSection #CreateBtnArea #CreateLabel {
  font-size: 1.5rem;
  font-weight: bold;
  color: #909;
}
/*# sourceMappingURL=AuthorPage.css.map */