.TopicContent{
    display: flex;
    flex-flow: column nowrap;

    .TopicPara{
        font-size: 1rem;
    }

    .TopicImage{
        box-shadow: 0 0 1em #909090 inset;
        padding: 6em 2em;
    }
}