.MainContainer{
    box-shadow: 0 0 1em #fff;
    margin: 0;
    display: flex;
    flex-direction: column;
}

@media(min-width:950px){
    .MainContainer{
        flex-direction: row;

        #Main-Content-Separator{
            display: none;
        }

        .MoreTopicsAreaContainer{
            width: 30%;
        }

        .ContentContainer{
            box-shadow: 0 0 1rem #fff;
            margin: auto;
            width: 60%;
        }
    }
}