.DemoTopicContent{
    display: flex;
    flex-flow: column nowrap;

    .DemoTopicPara{
        font-size: 1rem;
    }

    .DemoTopicImage{
        box-shadow: 0 0 1em #909090 inset;
        padding: 2.5em 4em;
    }
}